//-----------------------
// Base definitions
//-----------------------
.container {
  @include clearfix;
  margin: 0 auto;
  width: $large-container-width;
}

.row {
  @include clearfix;
  float: left;
  margin-bottom: 0;

  [class*="span-"] {
    float: left;
    margin-right: $large-gutter-width;

    &:last-child {
      margin-right: 0;
    }
  }

}


//-----------------------
// 1100px grid
//-----------------------
@for $colNum from 1 through $num-columns {
  .span-#{$colNum} { @include width($colNum, $large-column-width, $large-gutter-width) }
}

@for $colNum from 1 through $num-offsets {
  .offset-#{$colNum} { @include offset($colNum, $large-column-width, $large-gutter-width) }
}



//-----------------------
// 940px grid
//-----------------------
@media (min-width: $small-boundary) and (max-width: $large-boundary) {

  .container {
    width: $small-container-width;
  }

  .row [class*="span-"] {
    margin-right: $small-gutter-width;
  }

  @for $colNum from 1 through $num-columns {
    .span-#{$colNum} { @include width($colNum, $small-column-width, $small-gutter-width) }
  }

  @for $colNum from 1 through $num-offsets {
    .offset-#{$colNum} { @include offset($colNum, $small-column-width, $small-gutter-width) }
  }

}


//-----------------------
// 630px grid
//-----------------------
@media (min-width: $tiny-boundary) and (max-width: $small-boundary) {

  .container {
    width: $tiny-container-width;
  }

  .row [class*="span-"] {
    margin-right: $tiny-gutter-width;
  }

  @for $colNum from 1 through $num-columns {
    .span-#{$colNum} { @include width($colNum, $tiny-column-width, $tiny-gutter-width) }
  }

  @for $colNum from 1 through $num-offsets {
    .offset-#{$colNum} { @include offset($colNum, $tiny-column-width, $tiny-gutter-width) }
  }

}


//-----------------------
// Stacked columns
//-----------------------
@media (max-width: $tiny-boundary) {

  .container {
    width: auto;
  }

  .row {
    margin: 0;
    width: 100%;

    & > [class*="span-"] {
      float: none;
      margin: 0;
      width: auto;
    }
  }

}
