//-- BASE GRID DEFINITIONS
//------------------------------------

@for $i from 1 through $num-columns {
  .span-#{$i} { @include width($i); }
}

@for $i from 1 through $num-offsets {
  .offset-#{$i} { @include offset($i); }
}


//-- 1100px grid
//---------------------

.container {
  @include clearfix;
  margin: 0 auto;
  width: $container-width;
}

.row {
  @include clearfix;
  float: left;
  margin-bottom: 0;

  [class^="span-"] {
    float: left;
    margin-right: $gutter-width;

    &:last-child {
      margin-right: 0;
    }
  }

}


//-- 940px grid
//---------------------

@media (min-width: $small-boundary) and (max-width: $boundary) {

  .container {
    width: $small-container-width;
  }

  .row [class^="span-"] {
    margin-right: $small-gutter-width;
  }

  @for $i from 1 through $num-columns {
    .span-#{$i} { @include small-width($i); }
  }

  @for $i from 1 through $num-offsets {
    .offset-#{$i} { @include small-offset($i) }
  }

}


//-- 630px grid
//---------------------

@media (min-width: $tiny-boundary) and (max-width: $small-boundary) {

  .container {
    width: $tiny-container-width;
  }

  .row [class^="span-"] {
    margin-right: $tiny-gutter-width;
  }

  @for $i from 1 through $num-columns {
    .span-#{$i} { @include tiny-width($i) }
  }

  @for $i from 1 through $num-offsets {
    .offset-#{$i} { @include tiny-offset($i) }
  }

}


//-- Stacked columns
//---------------------

@media (max-width: $tiny-boundary) {

  .container {
    width: auto;
  }

  .row {
    margin: 0;
    width: 100%;

    & > [class^="span-"] {
      float: none;
      margin: 0;
      width: auto;
    }
  }

}
