//-- BASE GRID DEFINITIONS
//------------------------------------

//---------------------
//-- 1100px grid
//---------------------

.container {
  @include clearfix;
  margin: 0 auto;
  width: $container-width;
}

.row {
  @include clearfix;
  float: left;
  margin-bottom: 0;

  [class^="span-"] {
    float: left;
    margin-right: $gutter-width;
    
    &:last-child {
      margin-right: 0;
    }
  }

} // .row


//-- Main columns
//--------------------------
@for $i from 1 to 17 {
  // 1-16. Ex: .span-5 { @include width(5) }
  @debug "width: #{$i}";
  .span-#{$i} { @include width($i); }
}


//-- Offsets
//--------------------------
@for $i from 1 to 16 {
  // 1-15. Ex: .offset-5 { @include offset(5) }
  @debug "offset: #{$i}";
  .offset-#{$i} { @include offset($i) }
}