//-----------------------
// Global variables
//-----------------------
$num-columns: 16;
$num-offsets: $num-columns - 1;

$large-boundary: 1100px;
$small-boundary: 790px;
$tiny-boundary:  630px;

$large-column-width: 50px;
$small-column-width: 40px;
$tiny-column-width:  30px;

$large-gutter-width: 20px;
$small-gutter-width: 10px;
$tiny-gutter-width:  10px;

$large-container-width: ($num-columns * $large-column-width) + (($num-columns - 1) * $large-gutter-width);
$small-container-width: ($num-columns * $small-column-width) + (($num-columns - 1) * $small-gutter-width);
$tiny-container-width:  ($num-columns * $tiny-column-width)  + (($num-columns - 1) * $tiny-gutter-width);


//-----------------------
// Helpers
//-----------------------
@mixin width($colNum, $width, $gutter) {
  width: ($colNum * $width) + (($colNum - 1) * $gutter);
}

@mixin offset($colNum, $width, $gutter) {
  margin-left: ($colNum * $width) + ($colNum * $gutter);
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
