//------------------------------------
//-- GLOBAL VARIABLES
//------------------------------------

$num-columns: 16;

$column-width: 50px;
$small-column-width: 40px;

$gutter-width: 20px;
$small-gutter-width: 15px;

$container-width: ($num-columns * $column-width) + (($num-columns - 1) * $gutter-width);
$small-container-width: ($num-columns * $small-column-width) + (($num-columns - 1) * $small-gutter-width);


//------------------------------------
//-- GLOBAL MIXINS
//------------------------------------

@mixin width($colNum) {
  width: ($colNum * $column-width) + (($colNum - 1)*$gutter-width);
}

@mixin small-width($colNum) {
  width: ($colNum * $small-column-width) + (($colNum - 1)*$small-gutter-width);
}

@mixin offset($colNum) {
  margin-left: $colNum*$column-width + $colNum*$gutter-width;;
}