//------------------------------------
//-- RESPONSIVE MEDIA QUERIES
//------------------------------------

// Landscape phones and down
//@media (max-width: 480px) {}


// Landscape phone to portrait tablet
//------------------------------------
@media (max-width: 768px) {

//---------------------
//-- Stacked columns
//---------------------

body { padding: $gutter-width/4; }

.container {
  width: auto;
}

.row {
  margin: 0;
  width: 100%;

  & > [class^="span-"] {
    float: none;
    margin: 0;
    margin-bottom: $gutter-width;
    width: auto;
  }
}

} // @media (max-width: 768px)


// Portrait tablet to landscape and desktop
//------------------------------------

//---------------------
//-- 940px grid
//---------------------

@media (min-width: 768px) and (max-width: 980px) {

.container {
  width: $small-container-width;
}

.row {
  margin-bottom: $small-gutter-width/2 + $small-gutter-width/4; // 20 -> 15

  [class^="span-"] {
    margin-right: $small-gutter-width;
  }

} // .row


//-- Main columns
//---------------------
.span-1  { @include small-width(1); }
.span-2  { @include small-width(2); }
.span-3  { @include small-width(3); }
.span-4  { @include small-width(4); }
.span-5  { @include small-width(5); }
.span-6  { @include small-width(6); }
.span-7  { @include small-width(7); }
.span-8  { @include small-width(8); }
.span-9  { @include small-width(9); }
.span-10 { @include small-width(10); }
.span-11 { @include small-width(11); }
.span-12 { @include small-width(12); }
.span-13 { @include small-width(13); }
.span-14 { @include small-width(14); }
.span-15 { @include small-width(15); }
.span-16 { @include small-width(16); }


//-- Offsets
//---------------------
.offset-1  { @include offset(1); }
.offset-2  { @include offset(2); }
.offset-3  { @include offset(3); }
.offset-4  { @include offset(4); }
.offset-5  { @include offset(5); }
.offset-6  { @include offset(6); }
.offset-7  { @include offset(7); }
.offset-8  { @include offset(8); }
.offset-9  { @include offset(9); }
.offset-10 { @include offset(10); }
.offset-11 { @include offset(11); }
.offset-12 { @include offset(12); }
.offset-13 { @include offset(13); }
.offset-14 { @include offset(14); }
.offset-15 { @include offset(15); }

} // @media (min-width: 768px) and (max-width: 980px)


// Large desktop and above
//@media (min-width: 1200px) {}