//-- RESPONSIVE MEDIA QUERIES
//------------------------------------

// Landscape phones and down
//@media (max-width: 480px) {}


// Landscape phone to portrait tablet
@media (max-width: 768px) {

  body { padding: $gutter-width/4; }

  .container {
    width: auto;
  }

  .row {
    margin: 0;
    width: 100%;

    & > [class^="span-"] {
      float: none;
      margin: 0;
      margin-bottom: $gutter-width;
      width: auto;
    }
  }

} // @media (max-width: 768px)


// Portrait tablet to landscape and desktop
//@media (min-width: 768px) and (max-width: 980px) {}


// Large desktop and above
//@media (min-width: 1200px) {}
