.container {
  margin: 20px auto 40px;
}

.nested-wrapper {
  text-align: center;
}
  .nested-wrapper h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }

.nested-inner {
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
  border: 1px dashed #A5A5A5;
  padding: 5px;
}
  .nested-inner h3 {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .nested-inner p {
    line-height: 1.1;
  }


/*----------------------------------------

  TODO: SHOULD THIS MAKE IT INTO THE PRODUCTION VERSION?

----------------------------------------*/
/* Adds some spacing to nested rows */
.row .row {
  margin-top: 10px;
}
