body {
  background-color: #ccc;
  font-family: 'Helvetiva Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.container {
  background-color: white;
}

.header {
  background-color: #369;
  padding: 10px 0;
}
  .logo {
    color: white;
    font-size: 2em;
    margin-left: 10px;
  }

.sidebar {
  background-color: #eee;
}
  .nav a:link,
  .nav a:visited {    
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    color: #369;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
  }
    .nav a:hover,
    .nav a:active {
      background-color: #666;
      color: white;
    }
    .nav a:first-child { border-top: none; }
    .nav li:last-child { border-bottom: none; }

.content {
  background-color: white;
  line-height: 1.4;
  padding: 10px 0 20px;
}
  h2 {
    color: #369;
    font-size: 1.5em;
    margin-top: 15px;
    padding-bottom: 5px;
  }
    h2:first-child { margin-top: 0; }
    h2 ~ p + p {
      text-indent: 1.5em;
    }

  h3 {
    border-bottom: 1px solid #369;
    color: #369;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 2px;
  }
    h3:first-child { margin-top: 0; }
    h3 ~ p {
      margin-left: 15px;
    }

  p + p {
    margin-top: 10px;
  }

.footer {
  background-color: #369;
  color: white;
  font-size: 0.9em;
  padding: 5px 0;
  text-align: center;
}


.nested-row {
  margin-top: 5px;
}
  .nested-row [class^="span-"] {
    /*outline: 1px solid red;*/
  }