//-- TEMPORARY STYLES
//------------------------------------
//.container {outline: 1px solid red;}
//.row {outline: 1px solid green;}
//[class^="span-"] {outline: 1px solid blue;}


//-- VARIABLES
//------------------------------------
$gray: #ccc;
$linkColor: #08c;

//-- MIXINS
//------------------------------------
@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}


//-- MAIN
//------------------------------------
body {
  background-color: #fafafa;
  color: #404040;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
}

.container {
  margin: 20px auto 40px;
}

// Generic Typography
//-------------------
a:link,
a:visited {
  color: $linkColor;
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

h1, h2, h3 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}

h2 {
  border-bottom: 1px solid $gray;
  font-size: 2em;
  margin-top: 20px;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 5px;
}

h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

strong {
  font-size: 1.1em;
  font-weight: bold;
}

.title {
  float: left;
  margin-bottom: 15px;
}

.tagline {
  color: darken($gray, 40);
  float: left;
  font-size: 1.4em;
  margin: 13px 15px 0;
}

.example-container {
  margin-top: 10px;
}

.demo-row [class^="span-"] {
  // Gray columns for visualization

  @include border-radius(3px);
  background-color: $gray;
  text-align: center;
  margin-bottom: 15px;
  padding: 5px 0;

  &:hover {
    background-color: darken($gray, 10);
  }
}

.button-container {
  margin-top: 25px;
  text-align: center;
}

a.button {
  @include border-radius;

  // Gray
  //background-color: lighten($gray, 15);
  //border: 1px solid $gray;
  //color: darken($gray, 40);

  // Blue
  background-color: $linkColor;
  border: 1px solid lighten($linkColor, 5);
  color: white;

  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 15px;

  &:hover {
    //background-color: lighten($gray, 10); // Gray
    background-color: lighten($linkColor, 10); // Blue
    text-decoration: none;
  }
}

pre {
  // Code blocks

  @include border-radius;
  background-color: lighten($gray, 15);
  border: 1px solid $gray;
  font-family: 'Courier New', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 15px;
  padding: 10px 5px;
  word-wrap: break-word;
}

code {
  // Inline code snippets

  background-color: lighten($gray, 15);
  border: 1px solid $gray;    
  font-family: 'Courier New', Arial, Helvetica, sans-serif;
  padding: 1px 3px;
}

.footer {
  border-top: 1px solid $gray;
  margin-top: 25px;
  padding-top: 10px;

  p {
    float: left;
  }

  .social-buttons {
    // Github/Twitter embeds

    float: right;

    .twitter-follow-button {
      margin-right: 15px;
    }
  }

} // .footer




//-- RESPONSIVE MEDIA QUERIES
//------------------------------------
@media (max-width: 480px) {

.tagline {
  margin: -10px 0 10px;
}

} // @media (max-width: 480px)


@media (max-width: 768px) {

.row > [class^="span-"] {
  margin-bottom: 20px;
}

.social-buttons {
  float: left;
}

} // @media (max-width: 768px)

@media (min-width: 768px) and (max-width: 980px) {

.row {
  margin-bottom: 15px/2 + 15px/4;
}

} // @media (min-width: 768px) and (max-width: 980px)